             /* палитра */
  :root {
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --accent-color: #4D5AE5;
    --white-color:#FFFFFF;
    --activ-buttons-color: #31D0AA;
    --button-primary-color: #F4F4FD;
    --ocean-color: #404BBF ;
}
 body 
 {
background: var(--white-color);
color: var(--primary-text-color);
font-family: Roboto, sans-serif;
letter-spacing: 0.02em;
}

body.modal-open {
    overflow: hidden;
}


    /* container */

    .container {
        min-width: 320px;
        max-width: 480px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        outline: 2px solid tomato;
    }

@media screen and (min-width: 768px) and (max-width: 1200px){
    .container {
        min-width: 746px;
        max-width: 746px;
        width: 746px;  
    }}

@media screen and (min-width: 1200px){
    .container {
        min-width: 1158px;
    max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
       width: 1158px;
      }}

p {
    font-size: 16px;
line-height: 1.5;
margin-top: 0;
margin-bottom: 0;

}
.list {
list-style: none;
margin: 0;
padding: 0;
}


/* шапка сайта */


.primary-nav {
    position: relative;
    display:flex ;
    align-items: center;
}
@media screen and (max-width: 1199px) {
    .primary-nav {
        height: 70px;
    } }

.logo {
    color:  var(--accent-color);
    text-decoration: none
}

.logo-head {
    color: var(--primary-text-color);
}

.logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.33;

letter-spacing: 0.03em;
text-transform: uppercase;
}


/* mobile menu */


.menu-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-left: auto;
    padding: 0;
    background-color: transparent;

    cursor: pointer;
    border: none;
    outline: none;
  }

  .clouse {
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
  background-color: var(--button-primary-color);
width: 24px;
height: 24px;
  }
  
  @media (min-width: 768px) {
    .menu-toggle
    {
      display: none;
    }
  }
  
  .menu-container {
 position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-color: var(--white-color);
    z-index: 999;
  
    transform: translateY(-200%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-section {
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
width: 100%;

    margin-left: auto;
        margin-right: auto;
    min-width: 320px;
    max-width: 480px;
    padding: 40px;
}
  
  .menu-container.is-open {
    transform: translateY(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 40px;
    right: 40px;
    color: #000;
  }
  
  .mobile-menu {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
color: var(--title-text-color);
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .mobile-link {
    color: var(--title-text-color);
text-decoration: none;
  }
.mobile-menu .list + .list {
    margin-top: 40px;
}

  .mobil-contacts {
    padding: 0;
    list-style: none;
    margin-bottom: 0;
  }

  .mobil-contacts .phone {
    font-weight: 600;
font-size: 36px;
line-height: 1.11;
  }

  .mobil-contacts .mail {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
    margin-top: 40px;
    margin-bottom: 48px;
  }

.mobile-activ {
    color: var(--ocean-color);
}

.mobil-social {
    display: flex;
 justify-content: space-between;
}
.mobil-social .items .link {
    display: block;
    width: 40px;
    height: 40px;
}

 /* навигация сайту */


@media screen and (min-width: 768px) {
        .nav {
            display:flex ;
            align-items: center;
        }} 

      @media screen and (max-width: 767px) {
        .nav {
              height: 70px;
          } }

.shadow-header {
box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.border {
    box-shadow: 0px 0px 1px 0px var(--primary-text-color);
}

.site-nav {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
margin-left: 77px;
}

.site-nav .item + .item {
 margin-left: 40px;
}

.nav-link {
display: block;
padding-top: 24px;
padding-bottom: 24px;
position: relative;

color: var(--title-text-color);
text-decoration: none;

transition-property: color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.nav-link:hover,
.nav-link:focus {
color: var(--primary-text-color);
}

.nav-link:active {
    color: var(--accent-color);
}

@media screen and (min-width: 768px) {
.nav-line-active::before {
    content: "";
    position: absolute;
    bottom: 0;
    background-color:var(--ocean-color) ;
    width: 100%;
height: 4px;
border-radius: 2px;
}}

.nav-line-studio,
.nav-line-portfolio {
    color: var(--ocean-color);
}

.active-portfolio {
    color: var(--accent-color);
    text-decoration: none;
}
.active-studio {
    color: var(--accent-color); 
    text-decoration: none;
}


/* контакти */


.contact-nav{
    display: flex;
}

@media screen and (min-width: 1200px) {
    .contact-nav {
        margin-left: 331px;
    } 
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .contact-nav {
flex-wrap: wrap;
justify-content: end;
    }
}

@media screen and (max-width: 767px) {
    .nav,
    .contact-nav {
        display: none;
    }
}

.contact-nav .list + .list {
    margin-left: 40px;
    }

.contact {
    color: var(--primary-text-color);
    text-decoration: none;


    transition-property: color ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact:hover,
.contact:focus {
    color: var(--accent-color);
}

.contact:active {
    color: var(--activ-buttons-color);
}
/* "Main" сайта */

/* Секция герой 1 */


.section-hero {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    padding-top: 112px;
}

@media screen and (min-width: 1200px) {
.section-hero {
    background-image: linear-gradient(to right,
    rgba(47,48,58,0.8),
    rgba(47,48,58,0.8)
    ),
    url(../images/people-office.jpg);

max-width: 1440px;
background-size: auto;
background-color: var(--title-text-color);

    padding-top: 192px;
    padding-bottom: 192px;
}
@media screen and (min-device-pixel-ratio: 2),
screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-hero {
background-image: linear-gradient(to right,
rgba(47,48,58,0.8),
rgba(47,48,58,0.8)
), url(../images/people-office@2x.jpg);
background-size: cover;
  }
}}


@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section-hero {
     max-width: 746px;
        background-image: linear-gradient(to right,
        rgba(47,48,58,0.8),
        rgba(47,48,58,0.8)
        ),
        url(../images/office-tablet.jpg);
        padding-bottom: 108px;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx){
    .section-hero {
        background-image: linear-gradient(to right,
        rgba(47,48,58,0.8),
        rgba(47,48,58,0.8)
        ),
        url(../images/office-tablet@2x.jpg)
    }
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {
    .section-hero {
     max-width: 480px;
        background-image: linear-gradient(to right,
        rgba(47,48,58,0.8),
        rgba(47,48,58,0.8)
        ),
        url(../images/office-mobile.jpg);
        padding-bottom: 112px;
    }
    @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (-o-min-device-pixel-ratio: 2/1),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx){
    .section-hero {
        background-image: linear-gradient(to right,
        rgba(47,48,58,0.8),
        rgba(47,48,58,0.8)
        ),
        url(../images/office-mobile@2x.jpg)
    }
  }
}

.hero {
    color: var(--white-color);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    margin-top: 0;
    margin-bottom: 48px;
}

@media screen and (min-width: 768px) and (max-width: 1199px){
    .hero {
margin-bottom: 40px;
    }}

@media screen and (max-width: 767px){
    .hero {
margin-bottom: 72px;
font-size: 36px;
line-height: 1.11;
    }}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.button-list{
    display: flex;
}

@media screen and (min-width: 768px) {
    .button-list{
        justify-content:center;
    }}

@media screen and (max-width: 767px) {
    .button-list{
        flex-wrap: wrap;
    }}

.button-primary {
    font-family: Roboto, sans-serif;
    background-color: var(--button-primary-color);
    color: var(--accent-color);
 font-weight: 600;
font-size: 16px;
line-height: 1.5;
border-radius: 4px;
border: 1px solid #E7E9FC;
padding: 12px 24px;

transition-property: border, box-shadow, color, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.button-primary:hover,
.button-primary:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--accent-color);
    color:var(--white-color);
    background-color: var(--accent-color);
}


@media screen and (min-width: 768px) {
.button-list .item + .item {
    margin-left: 24px;
}}

@media screen and (max-width: 767px) {
    .button-list .item{
        margin-right: 24px;  
    }}

@media screen and (max-width: 767px) {
    .button-list .item:nth-last-child(n+3){
    margin-bottom: 16px;
    }}

.button-secondary {
    font-family: Roboto, sans-serif;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    text-align: center;
    border: none;

transition-property: box-shadow, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-secondary:hover,
.button-secondary:focus {
    background-color: var(--ocean-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

button {
    cursor: pointer;
}


/* ceкции 1,2,3,4 */


.social-botton {
    display: flex;
    justify-content: center;
  padding-bottom: 36px;
}

.social-botton .items {
    margin-right: 24px;
}

.social-botton .items .link {
    display: block;
    width: 40px;
    height: 40px;
}

.social-botton .items:nth-child(4) {
    margin-right: 0px;
}

.social-botton-company {
    display: flex;
    justify-content: center;
  padding-bottom: 36px;}

@media screen and (min-width: 768px) and ( max-width: 1200px) {
    .social-botton-company {
        flex-wrap: wrap;
        justify-content: center;
      padding-bottom: 36px;
    }}

@media screen and (max-width: 768px) {
    .social-botton-company {
        flex-wrap: wrap;
        justify-content: center;
    }}


@media screen and (max-width: 383px) {
    .social-botton-company {
       display: inline-block;
    }}

@media screen and (max-width: 383px) {
.customers:nth-child(6) {
  
    margin-top: 72px;
}
}


.section-header {
    margin-bottom: 72px;
   
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section-header {
        margin-bottom: 64px;
       
    }   
}

@media screen and (max-width: 767px) {
    .section-header {
        margin-bottom: 48px;
       
    }   
}


.work-list {
    background: var(--button-primary-color);
}



.section-text {
 
    color: var(--title-text-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;

margin-top: 0px;
margin-bottom: 8px;
}







.text-item .section-text {
    color: var(--title-text-color);
font-weight: 600;
font-size: 20px;
line-height: 1.2;
margin-top: 0;
margin-bottom: 8px;
}

@media screen and (max-width: 1199px) {
 .text-item .section-text {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
text-align: center;
}
}

.text-card {
    padding-left: 16px;
padding-top: 32px;
padding-bottom: 32px;

}


/* .section-four {
background-color: var(--button-primary-color);
} */

.section-flex {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
}
@media screen and (min-width: 1200px) {
.section-flex-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section-flex-card {
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }}


@media screen and (max-width: 767px) {
    .section-flex-card {
        display: inline-block;
      text-align: center;
    }   
    
}

@media screen and (max-width: 767px) {
    .section-flex {
        display: inline;
    
    }}

@media screen and (max-width: 767px) {
    .section-flex-card .list-li:nth-child(-n +3)  {
    margin-bottom: 72px;
    }    
}

@media screen and (min-width: 1200px){
.section .list-li {
    width: calc((100% - 72px) / 4);
    padding-left: 0;
    margin-right: 24px;
    list-style: none;
   margin-top: 0;
    text-align: start;
}}


@media screen and (min-width: 768px) and (max-width: 1199px){
    .section .list-li {
        width: calc((100% - 24px) / 2);
        margin-bottom: 72px;
        padding-left: 0;
        margin-right: 24px;
        list-style: none;
       margin-top: 0;
        text-align: start;
    }}
    

    @media screen and (min-width: 768px) and (max-width: 1199px){
        .section .list-li:nth-child(even) {
            margin-right: 0px;
            
        }}

@media screen and (min-width: 768px) and (max-width: 1199px)
{     .section .list-li:nth-last-child(-n +2) {

    margin-bottom: 0px;     }}


@media screen and (max-width: 767px) {
    .section .list-li {
        width: 100%;
        padding-left: 0;
    margin-right: 24px;
    list-style: none;
   margin-top: 0;
    text-align: start;
}
    }   
    
    @media screen and (max-width: 767px) {
        .section-flex-card .list-li {
            width: 100%;
            padding-left: 0;
        margin-right: 0;
        list-style: none;
       margin-top: 0;
        text-align: start;
    }
        } 


@media screen and (max-width: 767px) {
    .text {
        margin-bottom: 72px;
    }   
    
}
.section-flex-card .list-li {
    width: 264px;
}

.section .list-card {
    margin-right: 24px;
}

.section .item .list-li {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.section .list-li .text-item {
    text-align: start;
}

.section {

    padding-top: 120px;
    padding-bottom: 120px;
}

.no-padding {
    padding-bottom: 0;
}

@media screen and (max-width: 1199px) {
    .section  {
        padding-top: 96px;
        padding-bottom: 96px;
    }  
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .section.portfolio-section  {
        padding-top: 64px;
        
    }  
}

@media screen and (max-width: 767px) {
    .section.portfolio-section  {
        padding-top: 48px;
        padding-bottom: 48px;
    }  
}

@media screen and ( max-width: 767px) {

    .work-list {
     padding-bottom: 128px;
    } 
 }
 
 @media screen and ( min-width: 1200px) {
.section .list-li:nth-child(4n) {

    margin-right: 0;
}}

.list-li .box {
    width: 264px;
    height: 112px;
    background-color: var(--button-primary-color);
    margin-bottom: 8px; 
}

@media screen and (max-width: 1199px) {
    .list-li .box
    { display: none;}  
}

.icon-box {
margin-left: 100px;
margin-top: 24px;
}

.section .list-card:nth-child(3n) {

    margin-right: 0;
}

.list-li {
    background-color: var(--white-color);
}

.list-li .item {
  padding-top: 32px;
  margin-bottom: 12px;
  text-align: center;

}

.section-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

.section-three {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    margin-top: 0;
    margin-bottom: 72px;
}

@media screen and (max-width: 1199px) {
    .three {
        display: none;
    } 
}

.section-text.section-title {
    margin-bottom: 72px;
}

.decoration-list {
color: var(--primary-text-color);

    text-decoration: none;
}

.container-card {
    display: flex;
    flex-wrap: wrap; 
}

.container .card {
    outline: 0.5px solid #F4F4FD;
    border-top: none;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    margin-bottom: 48px;
    text-align: start;
}

@media screen and (min-width: 1199px) {
    .container-card .card {
 width: calc((100% - 48px) / 3);
margin-right: 24px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-card .card {
  width: calc((100% - 24px) / 2);
  margin-bottom: 72px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .container-card .card:nth-child(odd) {
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .container-card {
      display: inline-block;
    }
}

.container-card-image {
    position: relative;
    overflow: hidden;
}

img {
    display: block;
    max-width: 100%;
    /* outline: solid 3px blue; */
    height: auto;
}

.card-image::before {
    content: "";
    background-color:#4D5AE5;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
}

.card-image::before,
.image-text {
    display:block;
    position: absolute;
    transform: translateY(100%);

    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.image-text {
color: var(--button-primary-color);
font-weight: 400;
font-size: 16px;
line-height: 24px;
top: 40px;
left: 32px;
right: 32px;
opacity: 0;
}

.decoration-list:hover .card-image::before,
.decoration-list:hover .image-text,
.decoration-list:focus .card-image::before,
.decoration-list:focus .image-text{
    opacity: 1;
    transform: translateX(0);
}

.card {
transition-property:box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card:nth-child(3n) {
    margin-right: 0;
}

@media screen and (min-width: 1200px) {
.card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .card:nth-last-child(-n + 1) {
        margin-bottom: 0;
    }
    
}

@media screen and (min-width: 768px){
    .customers {
        width: 168px;
        height: 88px;
        margin-right: 24px;
        margin-bottom: 72px;
        border: 1px solid #8E8F99;
    border-radius: 4px;
    
    transition-property:border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .customers:nth-child(3n + 3) {
margin-right: 0;
    }}

@media screen and (min-width: 768px) and (max-width: 1200px){
    .customers:nth-child(n + 3) {
margin-bottom: 0;
    }}

@media screen and (max-width: 767px) {
    .customers {
        width: 168px;
        height: 88px;
      
        border: 1px solid #8E8F99;
    border-radius: 4px;
    
    transition-property:border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    } 
}

.customers:nth-child(6) {
    margin-right: 0px  
}

@media screen and (min-width: 384px) and (max-width: 767px) {
    .customers:nth-child(odd) {
        margin-right: 16px;
    } 
}

@media screen and (max-width: 767px) {
    .customers:nth-child(-n + 4) {  
        margin-bottom: 72px;
    } 
}

.customers .icon {
fill: currentColor;
}

.customers:hover,
.customers:focus   {
    border: 1px solid var(--accent-color)
}

.icon {
    color: #8E8F99;
 transition-property:fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

.link:hover .icon,
.link:focus .icon {
 fill: var(--ocean-color);   
}

.social-botton .customers .link {
    display: block;
    width: 168px;
    height: 88px;
}

.link .soc-icon {
color: var(--accent-color);

transition-property:fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link .soc-icon {
fill: currentColor;
}

.link:hover .soc-icon,
.link:focus .soc-icon {
    fill: var(--ocean-color);
}


/* footer сайта */ 


.section-footer {
background-color: var(--title-text-color);
padding-top: 100px;
    padding-bottom: 100px;
}

@media screen and (max-width: 1199px) {
    .section-footer {
        background-color: var(--title-text-color);
        padding-top: 96px;
            padding-bottom: 96px;
        }
}


/* logo */


.logo {
    color:  var(--accent-color);
}

.logo-footer {
    color: var(--white-color)
}

.footer-title {
display: block;
 color: var(--button-primary-color) ;  
 font-size: 16px;
line-height: 1.5; 
margin-top: 16px;

width: 264px;
height: 72px;
}

.footer-text {
    font-weight: 600;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;

color: #FFFFFF;
margin-top: 0;
margin-bottom: 16px;
}

.footer-box {
 display: flex;
}

@media screen and (max-width: 767px) {
    
    .footer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
           }
}

@media screen and (min-width: 768px) and (max-width: 1200px) { 
    .footer-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       }
}

.footer-button {
    display: flex;
}

.icon-footer {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.icon-footer .list {
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 16px;
}

.icon-footer .list:nth-child(4) {
    margin-right: 0px;
}

.icon-footer .list .link {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer .link:hover,
.icon-footer .link:focus {
    background-color: #31D0AA;
}

.no-padding-left {
    padding-left: 0;
}
.no-padding-top {
    padding-top: 0;
}
.no-margin-top {
    margin-top: 0;
}

.no-margin {
    margin-bottom: 0;
}
 
.no-margin-left {
    margin-left: 0;
}

.no-margin-top-bottom
{
    margin-top: 0;
    margin-bottom: 0;
}
.no-margin-padding {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;
}

.margin-right {
    margin-right: 120px;
}


@media screen and (min-width: 768px) and (max-width: 1200px) {
    
    .margin-right {
        margin-right: 24px;
        margin-bottom: 72px;
       }}

@media screen and (max-width: 767px) {
    .margin-right {
        margin-right: 0;
        margin-bottom: 72px;
       }
}

@media screen and (max-width: 767px) {
    .margin-bottom {
        margin-bottom: 72px;
       }
}


/* modal */


 .backdrop {
    position: fixed;
   top: 0;
  left: 0;
  width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
opacity: 1;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

overflow-y: scroll;
     }

 @media screen and (max-width: 767px) {
 .backdrop {
padding-left: 16px;
padding-right: 16px;
padding-top: 96px;
 }
 }

    .backdrop.is-hidden {
opacity: 0;
pointer-events: none;
 }

 .backdrop.is-hidden .modal {
    transform: translate( -50%, -50%) scale(5);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
 }

.modal {
    position: relative;

    background-color: #FCFCFC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    transform: scaleX(1);
    transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 @media screen and (min-width: 768px) {
 .modal {
position: absolute;
top: 50%;
left: 50%;

transform: translate(-50%, -50%) scaleX(1);

min-width: 408px;
     }}

     @media screen and (min-width: 320px) and (max-width: 767px) {
        .modal {
margin-right: auto;
margin-left: auto;
max-width: 392px; 
        } }

.button-modal {
    display: flex;
    align-items: center;
 justify-content: center;
    position: absolute;
    padding: 0;
    border-radius: 50%;
    border: 1px solid rgba(46, 47, 66, 0.1);
    top: 24px;
  right: 24px;
  background-color: var(--button-primary-color);

width: 24px;
height: 24px;

transition-property: border, background-color, fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:active {
    background-color: var(--ocean-color);
    border: 1px solid var(--ocean-color);
    fill: #FFFFFF;
}

.modal-container {
    margin-left: auto;
    margin-right: auto;

    padding-top: 72px;
    padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
.modal-container {
    padding-right: 24px;
    padding-left: 24px;
    
   width: 408px;
   /* outline: 2px solid tomato; */
}}

@media screen and (max-width: 767px) {
    .modal-container {
        padding-left: 16px;
        padding-right: 16px;
       max-width: 392px;
       min-width: 288px;
    }    
} 

.text-modal {
text-align: center;
    font-weight: 500;
font-size: 16px;
line-height: 24px;
    margin-top: 0px;
    margin-bottom: 14px;
}


/* form footer */


.form-footer {
    margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .form-footer {
        margin-left: 108px;
        margin-right: auto;
    }   
}

.btn-form-footer {
    position: relative;
    font-family: Roboto, sans-serif;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 4px;
    padding-left: 24px;
    padding-top: 8px;
 padding-bottom:  8px;
 padding-right: 64px;
min-width: 165px;
    border: none;
    margin-left: 24px;
text-align: start;
    transition-property: box-shadow, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) { 
    .form-footer {    
        margin-left: 0;
       }
}

.input-footer {
height: 40px;
width: 264px;
background-color: var(--title-text-color);
padding: 0;

border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
padding-left: 16px;
}

@media screen and (max-width: 767px) {  
    .input-footer {
        margin-bottom: 16px;
        width: 100%;
       }
}

.input-footer::placeholder {
color: rgba(255, 255, 255, 0.6);
}
.form-footer-primary {
    display: flex;
}

@media screen and (max-width: 767px) {
    .form-footer-primary {
        display: block;
       }
}

.submit-icon {
    position: absolute;
top: 50%;
right: 24px;
translate: 0 -50%;
}


/* form-modal */


.button-form-modal {
    font-family: Roboto, sans-serif;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 170px;
    text-align: center;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition-property: box-shadow, background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .button-form-modal:hover,
.button-form-modal:focus {
    background-color:  var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
} */

textarea {
    resize: none;
}

.form-group {
    /* outline: 1px solid green; */
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
}

.form-label {
    font-weight: 400;
margin-bottom: 4px;
color: #8E8F99;
}

.form-input {
height: 40px;
padding: 0;
padding-left: 38px;
border: 1px solid rgba(33, 33, 33, 0.2);
border-radius: 4px;

transition-property: border-radius,  border ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus +.icon-form {
    fill: #4D5AE5;
    }
    
    .form-input:focus,
    .form-textarea:focus{
    outline: none;
     border: 1px solid #4D5AE5;
     border-radius: 4px;
    }

.form-agree {
    display: flex;
    margin-top: 16px;
    margin-bottom: 24px;
}

.checkbox {
 display: flex;
 align-items: center;
justify-content: center;

margin-right: 8px;
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
}

.icon-form-checkbox {
fill: #FFFFFF;
}

.input-checkbox:checked + .checkbox {
    background-color: var(--ocean-color);
    fill: #f4f4fd;
    border: 1.25px solid var(--ocean-color);
    border-radius: 2px;
}

.input-checkbox {
    appearance: none;
    position: absolute;
}
 
.text-agree {
    display: flex;
    flex-wrap: wrap;
    font-weight: 400;
font-size: 12px;
line-height: 16px;
color: #757575;
/* transition-property: border-radius,  border, fill ;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.privacy {
    color: #4D5AE5;
    margin-left: 4px;
}

.form-submit {
display: flex;
justify-content: center;
margin-bottom: 24px;
}

.form-textarea {
    padding: 0;
    padding-left: 16px;
    padding-top: 8px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-textarea::placeholder {
    color: #75757580;
}

.name {
position: relative;
}

.tel {
    position: relative;
}

.email {
    position: relative;
}

.icon-form {
    position: absolute;
 
  bottom: 14px;
    left: 17.5px;

    transition-property: fill;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .icon-footer::before {
    content: "";
    width: 40px;
    height: 40px;
background-image: url(../images/img-two.jpg);
background-size: contain;
    margin-right: 10px;

transition:transform, 1000ms;
}

.icon-footer:hover::before {
    transform: translateY(-450%);

}

.icon-footer::after {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background-image: url(../images/img-one.jpg);
    background-size: contain;
    transform: translateY(450%);

    transition:transform, 1000ms;
}

.icon-footer:hover::after {
    transform: translateY(0%);
}

.icon-footer {
    position: relative;

}

.section-footer {
    overflow: hidden;
} */


/* 
.form-group:focus-within > .form-label {
    transform: translateY(-500%);

}
.form-input:not(placeholder-shown) + .form-label {
    transform: translateY(-400%);
} */



